SeasonalPowerRankings/settings.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="challongeinfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="username" type="xs:string" />
              <xs:element name="apikey" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="searchforplayers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="player" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="excludefromrankings">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="player" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="days_til_inactive" type="xs:unsignedByte" />
        <xs:element name="outputfile" type="xs:string" />
        <xs:element name="apiurl" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>