SeasonalPowerRankings/tournaments.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="tournaments">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="tournament">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="player">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="changeto" type="xs:string" use="optional" />
                  <xs:attribute name="drop" type="xs:boolean" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="subdomain" type="xs:string" use="required" />
            <xs:attribute name="urlkey" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>